.tasklist-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  overflow-x: scroll;
  .smooth-dnd-container.horizontal {
    height: 100%;
  }
  .smooth-dnd-draggable-wrapper {
    height: 100%;
  }
}

.message-no-lists {
  align-self: center;
  text-align: center;
  width: 100%;
}

.tasklist {
  height: 98%;
  margin: 0 1vw 1vh;
  min-width: 250px;
  width: 18vw;
  &:first-of-type {
    margin-left: 0;
  }
}

.form-new-list {
  flex: 0 0 auto;
  margin-top: 2rem;
}

.list-body {
  height: 20vh;
  overflow: auto;
  padding: .5rem;
}

#error-single-list {
  bottom: 0;
  position: fixed;
  width: 80vw;
}

.list-drop-preview {
  border: 2px dashed #363666;
  margin: 0 1vw 1vh 0;
}